Desktop
Documents
Downloads
Dropbox
Envs
Library
Movies
Music
Pictures
Public
CFUserTextEncoding
DS_Store
Trash/
bash_history
bash_sessions/
cache/
psql_history
ssh/
vim-spell-en.utf-8.add
vim-spell-en.utf-8.add.spl
vim/
viminfo
viminfo.tmp
virtualenvs/
.DS_Store
.bash_history
.bash_sessions/
.cache/
.psql_history
.ssh/
.vim-spell-en.utf-8.add
.vim-spell-en.utf-8.add.spl
.vim/
.viminfo
.viminfo.tmp
.virtualenvs/
Applications/
.NERDTreeBookmarks
.Xauthority
.bash_profile_save
.config/
.cookiecutter_replay/
.cookiecutters/
.cups/
.dropbox/
.eclipse/
.erlang.cookie
.fontconfig/
.gem/
.heroku/
.ipython/
.jssc/
.lesshst
.local/
.netrc
.node-gyp/
.node_repl_history
.npm/
.openerp_serverrc
.oracle_jre_usage/
.p2/
.rediscli_history
.rnd
.subversion/
.tmux/plugins/
.tmux/resurrect/
.viminfy.tmp
.viminfz.tmp
.wireshark-etc/
.wireshark/
Calibre Library/
VirtualBox VMs/
diary/
test.txt
.Trash
